@import '../../assets/master';

button.btn{
  min-width:100px;
  max-width: 200px;
  height: 36px;
  padding: 5px;
  border: 2px solid $color2;
  border-radius: 5px;
  background-color: $color1;
  font-weight: bold;
  text-align: center;
  color: $color5;
  &:hover {
    border: 2px solid $color3;
    background-color: darken($color1,5);
    cursor: pointer;
  }
  &:active {
    background-color: darken($color1,10);
    outline: none;
    border: 2px solid $color6;
    border-radius: 5px;
  }
  &:focus {
    outline: none;
    border: 2px solid $color6;
    border-radius: 5px;
  }
}
