@import '../../../assets/master';

.edit-add {
  h2 {
    text-align: center;
  }
  form {
    display: block;
    margin: auto;
    .btn-swap {
      transform: rotate(90deg);
    }
  }
  input {
    margin: 10px;
    max-width: 200px;
  }
  label {
    margin: 10px;
    max-width: 200px;
  }
  button {
    margin: 10px;
    max-width: 250px;
  }
}
