@import '../../assets/master';

nav {
  height: 50px;
  width: 100%;

  border-bottom: 1px solid $color4;
  background-color: $color1;
}
nav ul.nav-panel {
  height: 100%;
  margin: 0;
}
nav ul.nav-panel li {
  float: left;

  display: block;
  width: 100px;
  height: 100%;
}
