@import '../../assets/master';

.main {
  display: grid;
  grid-template:
    ' main-lft main-mid main-rgt'
    / 5% 90% 5%;


  & .main-lft {
    grid-area: main-lft;
  }
  & .main-mid {
    grid-area: main-mid;
    border: 1px solid $color4;
    border-radius: 5px;
  }
  & .main-rgt {
    grid-area: main-rgt;

  }
}
