@import '../../assets/master';

input[type='textarea'] {
  width: 200px;
  height: 100px;
  padding: 5px;

  text-align: start;
  vertical-align: top;
  border: 2px solid $color3;
  border-radius: 5px;
  &:focus {
    outline: none ;
    border:2px solid $color6;
    border-radius: 5px;
  }
}
