@import '../../assets/master';

.selector {
  position: relative;
  margin: 10px;
  padding: 5px;
  width: 100px;
  height: 36px;
  border: 2px solid $color3;
  border-radius: 5px;
  background-color: white;
  &:focus {
    outline: none;
    border: 2px solid $color6;
    border-radius: 5px;
  }
  &::after {
    content: '▲';
    position: absolute;
    top: 4px;
    right: 4px;
    color: $color1;
  }
  &.closed .options {
    display: none;
  }
  &.closed::after {
    content: '▼';
    position: absolute;
    top: 4px;
    right: 4px;
    color: $color1;
  }
  .options {
    z-index: 10;
    position: absolute;
    top: 34px;
    left: -2px;
    padding-top: 1px;
    width: 100px;
    border: 2px solid $color3;
    border-top: none;
    border-radius: 5px;
    background-color: white;
    div {
      margin: 2px;
      text-align: center;
      border-radius: 5px;

      &:hover {
        cursor: pointer;
        background-color: lighten($color1,10);
      }
      &:focus {
        background-color: darken($color1,5);
        outline: none;
      }
      &:active {
        background-color:darken($color1,5);
      }
    }
  }
}
