.input-block {
  margin-bottom: 1rem;

  label {
    margin-left: 1rem;
    margin-bottom: -0.8rem;
    font-weight: 600;
  }
  .error-message {
    margin-left: 1rem;
    margin-top: -0.8rem;
    font-size: 0.8rem;
    font-style: italic;
    margin-bottom: -0.4rem;
  }
  .validate-bad {
    margin: auto;

  }
  .validate-good {
    margin: auto;
  }
  .validate-good::after {
    content: ' \2714';
    color:white;
    padding: 0.1rem;
    background-color: green;
    border-radius: 50%;
  }
  .validate-bad::after {
    content: '\2718';
    color:white;
padding: 0.1rem;
    background-color: red;
    border-radius: 50%;
  }
  .validate-not::after {
    content: '\2718';
    visibility: hidden;
    padding: 0.1rem;
  }
}
