nav {
  height: 50px;
  width: 100%;

  border-bottom: 1px solid black;
  background-color: rgb(163, 82, 55);
}
nav ul.nav-panel {
  height: 100%;
  margin: 0;
}
nav ul.nav-panel li {
  float: left;

  display: block;
  width: 100px;
  height: 100%;
}
