@import '../../../assets/master';

.edit-add {
  h2 {
    text-align: center;
  }

  input {
    margin: 10px;
    max-width: 200px;
  }
  label {
    margin: 10px;
    max-width: 200px;
  }
  button {
    margin: 10px;
    max-width: 250px;
  }
  .flex-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}
