.nav-panel .button-link {
  position: relative;
  width: 100px;

  height: 100%;

  a {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 100%;

    color: rgb(204, 195, 195);
    &:hover {
      font-size: large;
    }
  }
}
.nav-panel .button-link a.active {
  &::after {
    content: '';
    position: absolute;

    top: 45px;
    height: 5px;
    width: 70%;

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: rgb(180, 172, 172);
  }
}
