.button-link {

  width: 8vw;
  min-width: 60px;
  height: 100%;

  border-right: 1px solid black;
  

  a {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 100%;

    background-color: rgb(151, 170, 233);
    color: black;
    &:hover {
      font-size: large;
    }
  }
}
