// .edit-main form {
//   & input {
//     float: left;
//   }
//   & .elements-to-line {
//     & .selector {
//       float: left;
//     }
//   }
// }

.edit-main form .flex-line{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
