@import '../../assets/master';

input[type='text'] {
  height: 35px;
  padding: 5px;

  border: 2px solid $color3;
  border-radius: 5px;
  &:focus {
    outline: none ;
    border:2px solid $color6;
    border-radius: 5px;
  }
  &.default{
    width: 200px;
  }
  &.small{
    width:100px
  }
}
