///COLORS VARIABLE
$color1: #edc7b7;
$color2: #eee2dc;
$color3: #bab2b5;
$color4: #123c69;
$color5: #ac3b61;
$color6: rgb(86, 195, 231);
///

.flex-row-start {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.flex-row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.flex-column-start {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.hidden {
  display: none;
}

.full-size-page {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  // display: flex;
  // justify-content: center;

  background-color: $color2;

  .full-size-page-content {
    position: relative;
    display: flex;
    justify-content: center;

    margin: 10% auto;
    padding: 1rem;

    width: 50%;
    min-width: 220px;

    background-color: lighten($color2, 5);

    border: 2px solid $color3;
    border-radius: 10px;
  }
}
.text-field {
  margin: 0.5rem;
  padding: 0.5rem;

  width: 80%;
  text-align: center;
}

.line-through-on-side {
  &::after,
  &::before {
    display: inline-block;
    content: '';
    width: 4rem;
    border-top: 1px solid grey;
    color: black;
    margin: 0 0.3rem;
    transform: translateY(-0.3rem);
  }
}
.link {
  display: flex;
  justify-content: center;
  margin: 0.5rem;
  a {
    text-decoration: none;
    color: black;
    font-size: 1000;
  }
  a:hover {
    text-decoration: underline;
  }
  a:active {
    color: rgb(65, 63, 63);
  }
}


.btn-disabled{
  
}
