@import './assets/master';

// CSS RULES:{
//     1. position, left/right/top/bottom, float, clear, z-index
//     2. width, height, margin, padding
//     3. border
//     4. list-style-type, overflow
//     5. background, color, font
// }

//CSS ClEAR

// Указываем box sizing
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}
///START

html {
  height: 100%;
  font-size: vh;

}

.app {
  width:90%;
  margin:0 auto;
  display: grid;
  grid-template:
    ' header header header' 100px
    ' main   main   main' minmax(1000px, 20fr)
    ' footer footer  footer' 100px
    / 5% 90% 5%;

  background: $color2;

  height: 100%;
}

.header {
  grid-area: header;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
}
