@import './assets/master';

// CSS RULES:{
//     1. position, left/right/top/bottom, float, clear, z-index
//     2. width, height, margin, padding
//     3. border
//     4. list-style-type, overflow
//     5. background, color, font
// }

//CSS ClEAR

// Указываем box sizing
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}
///START

html {
  height: 100%;
  font-size: vh;
}

.app {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template:
    ' header header header' minmax(50px, 10vh)
    ' main   main   main' minmax(500px, 80vh)
    ' footer footer  footer' minmax(50px, 10vh)
    / 5% 90% 5%;

  background: #ffffff;

  height: 100%;
}

.header {
  grid-area: header;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
}

input {
  margin: 0.7rem;
  max-width: 200px;
}
label {
  max-width: 200px;
}
button {
  margin: 0.7rem;
  max-width: 250px;
}

input {
  height: 35px;
  padding: 5px;

  border: 2px solid $color3;
  border-radius: 5px;
  &:focus {
    outline: none;
    border: 2px solid $color6;
    border-radius: 5px;
  }
  &.default {
    width: 200px;
  }
  &.small {
    width: 100px;
  }
}

button.btn {
  min-width: 100px;
  max-width: 200px;
  height: 36px;
  padding: 5px;
  border: 2px solid $color2;
  border-radius: 5px;
  background-color: $color1;
  font-weight: bold;
  text-align: center;
  color: $color5;
  &:hover {
    border: 2px solid $color3;
    background-color: darken($color1, 5);
    cursor: pointer;
  }
  &:active {
    background-color: darken($color1, 10);
    outline: none;
    border: 2px solid $color6;
    border-radius: 5px;
  }
  &:focus {
    outline: none;
    border: 2px solid $color6;
    border-radius: 5px;
  }
}
