@import '../../assets/master';

.btn-swap {
  position: relative;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  background-color: $color1;
  border: 2px solid $color1;

  &::before {
    content: '➞';
    display: block;
    position: absolute;
    top: 1%;
    left: 25%;
    transform: scale(1.3);
  }
  &::after {
    content: '➞';
    display: block;
    position: absolute;
    top: 24%;
    left: 25%;
    transform: rotate(180deg) scale(1.3);
  }
  &:hover {
    border: 2px solid $color3;
    background-color: darken($color1,5);
  }
  &:active {
    background-color: darken($color1,10);
    outline: none;
    border: 2px solid $color6;
    border-radius: 50%;
  }
  &:focus {
    outline: none;
    border: 2px solid $color6;
    border-radius: 50%;
  }
}
